/* GLOBAL CSS */
* {
	margin: 0px;
	padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');*/

@font-face{
	font-family: 'Quicksand';
	src: url(../fonts/Quicksand-Bold.ttf);
}

html,body{
	width: 100%;
	height: 100%;
}

body{
	background: rgb(220, 220, 220);
	padding-bottom: 0px;
	/*background: url(../imagens/html.jpg) no-repeat;
	background-position: center;*/
}

.white{
	background: #fff;
}

@media (min-width: 700px){
	.content{
		background: url(../imagens/eu.png) no-repeat;
		background-size: 400px;
		background-position: right bottom;
	}

	.nome{
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.nome h2{
		color: rgb(40, 40, 40);
		font-weight: 600;
		text-align: left;
		font-size: 70pt;
		font-family: 'Quicksand', sans-serif;
		margin-bottom: 0px;
	}

	.nome h1{
		color: rgb(40, 40, 40);
		font-weight: 600;
		margin-left: 50px;
		text-align: left;
		font-size: 80pt;
		font-family: 'Quicksand', sans-serif;
		margin-top: 0px;
	}

	.nome p{
		text-align: left;
		color: rgb(80, 80, 80);
		font-size: 20pt;
		margin-left: 130px;
	}

	.contatoo{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.contatoo h4{
		text-align: left;
		color: rgb(50, 50, 50);
		font-size: 30pt;
		padding-left: 100px;
		margin-bottom: 10px;
		font-family: 'Quicksand', sans-serif;
	}

	.contatoo span{
		color: rgb(100, 100, 100);
		margin-top: 0px;
		margin-bottom: 0px;
		display: block;
		padding-left: 140px;
		font-size: 15pt;
		font-family: 'Quicksand', sans-serif;
	}
}

@media (max-width: 699px){
	.content{
		background: url(../imagens/cortada.png) no-repeat;
		background-size: 200px;
		background-position: right bottom;
	}

	.nome{
		padding-top: 200px;
		padding-bottom: 200px;
	}

	.nome h2{
		color: rgb(40, 40, 40);
		font-weight: 600;
		text-align: left;
		font-size: 40pt;
		font-family: 'Quicksand', sans-serif;
		margin-bottom: 0px;
	}

	.nome h1{
		color: rgb(40, 40, 40);
		font-weight: 600;
		text-align: left;
		font-size: 50pt;
		font-family: 'Quicksand', sans-serif;
		margin-top: 0px;
	}

	.nome p{
		text-align: left;
		color: rgb(80, 80, 80);
		font-size: 16pt;
	}

	.trabalho{
		margin-top: 10px;
	}

	.contatoo{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.contatoo h4{
		text-align: left;
		padding-left: 30px;
		color: rgb(50, 50, 50);
		font-size: 30pt;
		margin-bottom: 10px;
		font-family: 'Quicksand', sans-serif;
	}

	.contatoo span{
		color: rgb(100, 100, 100);
		margin-top: 0px;
		margin-bottom: 0px;
		display: block;
		padding-left: 40px;
		font-size: 15pt;
		font-family: 'Quicksand', sans-serif;
	}
}

.quem-sou{
	background-color: rgb(220, 220, 220);
	padding-top: 50px;
	padding-bottom: 50px;
}

.quem-sou h4{
	text-align: center;
	font-size: 25pt;
	color: #000;
	font-family: 'Quicksand', sans-serif;
}

.quem-sou p{
	color: rgb(140, 140, 140);
	text-align: center;
}

.center{
	margin: 0 auto;
}

.trabalhos{
	padding-top: 40px;
	padding-bottom: 50px;
}

.trabalhos h4{
	text-align: center;
	font-size: 40pt;
	color: #32f279;
	margin-bottom: 30px;
	font-family: 'Quicksand', sans-serif;
}

.trabalho{
	text-align: center;
	font-size: 20pt;
	color: #fff;
}

.trabalho img, .modal img{
	width: 100%;
}

.trabalho img{
	cursor: pointer;
}

.row-1{
	margin-top: -45px;
}



.footer{
	background: #000;
	color: rgb(150, 150, 150);
	padding-bottom: 1px;
	padding-top: 15px;
	text-align: center;
}
/*
.show-1, .show-2, .show-3, .show-4, .show-5{
	display: none;
}*/